<section class="column-center">
  <ul class="Menu">
  <% @category.each do |category| %>
    <li class="MenuCategory">
      <div>
        <p class="MenuCategory-name"><%= category.name %>
          <% if @current_user.role == "owner" %>
            <%= link_to "Edit", "/menu_categories/#{category.id}/edit", method: "get" %>&nbsp&nbsp
          <% end %>
        </p>
        <% category.menu_items.get_items(category.id).each do |item| %>
          <li class="MenuItem">
            <div class="MenuItem-container">
              <div ><%= image_tag item.item_image, size: "100" %></div>
            </div>
            <div class="MenuItem-container">
              <div ><h4 class = "MenuItem-name"><%= item.name %></h4></div>
              <div><span class="MenuItem-price">₹<%= item.price %></span></div>
            </div>
            <% # <div><span>-</span>Add<span>+</span></div> %>
            <div class="menu-item-quantity">
            <% if @cart_items.exists?(:menu_item_id => item.id) %>
              <%= form_with(url: "/cart_items/#{item.id}/decrement", method: "put") do %>
                <%= submit_tag("-", class: "decrement-button") %>
              <% end %>
              <% if @cart_items.exists?(:quantity => 0) %>
              <%= form_with(url: "/cart_items/#{item.id}/create", method: "post") do %>
                <%= submit_tag("Add", class: "increment-button") %>
              <% end %>
              <% else %>
              <%= @cart_items.where("menu_item_id =  ?", item.id).pluck(:quantity)[0] %>
              <% end %>
              <%= form_with(url: "/cart_items/#{item.id}/increment", method: "put") do %>
                <%= submit_tag("+", class: "increment-button") %>
              <% end %>
            <% else %>
              <%= form_with(url: "/cart_items/#{item.id}/create", method: "post") do %>
                <%= submit_tag("Add", class: "increment-button") %>
              <% end %>
            <% end %>
            </div>
            <% if @current_user.role == "owner" %>
            <div>
              <%= form_with(url: "/menu_items/#{item.id}", method: "delete") do %>
                <%= image_submit_tag("delete.png", onclick: "this.form.submit()") %>
            </div>
              <% end %>
            <div>
              <%= link_to "edit", "/menu_items/#{item.id}/update_each", method: "get" %>&nbsp&nbsp
            </div>
            <% end %>
          <li>
        <% end %>
      </div>
    </li>
  <% end %>
  </ul>
</section>
<section class="column-left">
<ul>
    <li>
        <h1>hello</h1>
    </li>
</ul>
</section>
<section class="column-right">
<ul class="Menu">
<h3>Cart Items</h3>
<% if @count >= 1 %>
<% @cart_items.all.each do |item| %>
    <li class="MenuItem">
    <div class="MenuItem-container">
        <div><h4 class="MenuItem-name"><%= item.menu_item_name %></h4></div>
    </div>
    <div>
    <span><%= item.quantity %></span>
    <span>₹<%= item.price %></span>
    </div>
    </li>
    <% end %>
</ul>
<div class="CartTotal">
<h4 class="MenuItem-name">Sub Total:<h4>
<span class="CartTotal-price">₹<%= @cart_items.sum(:price) %></span>
</div>
<%= button_to "CHECKOUT - - ->", "/orders", :method => :get, :form_class => "my_class" %>
<% else %>
<h1>Cart is empty<h1>
<% end %>
</section>
