<section class="UserNew">
  <%= form_with url: menu_categories_path do |form| %>
    <div class="Form-section">
      <p class="FormInput-label">Menu Name:</p>
      <%= form.text_field :category_name, class: "Form-input", autofocus: true, placeholder: "ex: Dessert" %>
    </div>
    <div class="Form-section">
      <p class="FormInput-label">Enable Menu Category:</p>
      <%= form.radio_button :active, true %>
      <%= form.label "Yes" %>
      <%= form.radio_button :active, false %>
      <%= form.label "No" %>
    </div>
    <div class="Form-section">
      <%= form.submit "Create", class: "Form-submit" %>
    </div>
  <% end %>
</section>
