  <section class="UserNew">
  <%= form_with url: "/menu_items/#{params[:id]}", method: "put" do |form| %>
    <div class="Form-section">
      <p class="FormInput-label">Menu Item Name:</p>
      <%= form.text_field :name, class: "Form-input", value: "#{@item_values[0][0]}" %>
    </div>
    <div class="Form-section">
      <p class="FormInput-label">Description:</p>
      <%= form.text_area :description, class: "Form-input", value: "#{@item_values[0][1]}" %>
    </div>
    <div class="Form-section">
      <p class="FormInput-label">Price:</p>
      <%= form.text_field :price, class: "Form-input", value: "#{@item_values[0][2].to_i / 100}" %>
    </div>
    <div class="Form-section">
      <%= form.submit "Save", class: "Form-submit" %>
    </div>
  <% end %>
  </section>
