<ul>
<% @cart_items.all.each do |item| %>
    <li class="MenuItem">
    <div class="MenuItem-container">
        <div><h4 class="MenuItem-name"><%= item.menu_item_name %></h4></div>
    </div>
    <div>
    <span><%= item.quantity %></span>
    <span>₹<%= item.price %></span>
    </div>
    </li>
    <% end %>
</ul>
<div class="CartTotal">
<h4 class="MenuItem-name">Sub Total:<h4>
<span class="CartTotal-price">₹<%= @cart_items.sum(:price) %></span>
</div>
<%= button_to "ORDER - - ->", "/orders", :method => :post, :form_class => "my_class" %>
