<section class="Home">
<ul class="Menu">
  <% @orderids.all.each do |order| %>
  <div class="OrderId">
      Order No:<%= order.id %>
      <div class="OrderButton">
      <% if (@current_user.role == "owner" or @current_user.role == "clerk") and order.delivered_at == nil %>
          <%= button_to "Mark as Delivered", "/orders/#{order.id}", :method => :put, data: { disable_with: "delivering..." } %>
      <% end %>
      </div>
  </div>
  <% @orders.all.each do |order_item| %>
        <% if order_item.order_id == order.id %>
          <li class="MenuItem">
            <div class="MenuItem-container">
              <div ><h4 class = "MenuItem-name"><%= order_item.menu_item_name %></h4></div>
              <div><span class="MenuItem-price"><%= order_item.quantity %></span></div>
            </div>
            <div class="MenuItem-container">
              <div><span class="MenuItem-price">₹<%= order_item.price / 100 %></span></div>
              <div>
                <% if order_item.order.delivered_at %>
                <p class="OrderStatus">Delivered</p>
                <% else %>
                <p>Not Delivered</p>
                <% end %>
              </div>
            </div>
        <% end %>
    </li>
  <% end %>
<% end %>
</ul>
</section>
