<section class="Order">
<ul class="Menu">
  <li>
  <div>
  <% @orderids.all.each do |order| %>
  <div class="OrderId">
      Order No:<%= order.id %>
      <div class="OrderButton">
      <% if (@current_user.role == "owner" or @current_user.role == "clerk") and (order.delivered_at == nil) %>
          <%= button_to "Mark as Delivered", "/orders/#{order.id}", :method => :put, data: { disable_with: "delivering..." } %>
      <% elsif @current_user.role == "customer" and (order.delivered_at == nil) %>
          <p class="OrderStatus-red">Not Delivered</p>
      <% else %>
          <p class="OrderStatus-green">Delivered</p>
      <% end %>
      </div>
      <div>
      <% if order.user.role == "customer" %>
      <%= order.user.first_name %>
      <% else %>
      Walk In Customer
      <% end %>
      </div>
  </div>


  <% @orders.all.each do |order_item| %>
        <% if order_item.order_id == order.id %>
        <div>
          <li class="MenuItem">
            <div class="MenuItem-container">
              <div ><h4 class = "MenuItem-name"><%= order_item.menu_item_name %></h4></div>
            </div>
            <div class="MenuItem-container">
              <div><span class="MenuItem-price"><%= order_item.menu_item_price %> X <%= order_item.quantity %>= ₹<%= order_item.price %></span></div>
            </div>
        <% end %>
          </li>
    </div>

  <% end %>
            <div class="MenuItem-container">
              <div><span class="OrderPrice">Total Price:₹<%= order.order_items.sum(:price) %></span></div>
            </div>
    </div>
  </li>
<% end %>
</ul>
</section>
