<!DOCTYPE html>
<html>
  <head>
    <title>CafeteriaManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body>
    <% if @current_user and @current_user.role == "user" %>
      <p class="UserHeader">
        Welcome <%= @current_user.first_name %>&nbsp&nbsp
        <%= link_to "Orders", "/order_items", method: "get" %>&nbsp&nbsp
        <%= link_to "Sign Out", destroy_sessions_path, method: "delete" %>
      </p>
    <% elsif @current_user and @current_user.role == "owner" %>
      <p class="UserHeader">
        Welcome <%= @current_user.first_name %>&nbsp&nbsp
        <%= link_to "Dashboard", "/admin", method: "get" %>&nbsp&nbsp
        <%= link_to "Menu", "/menu_categories", method: "get" %>&nbsp&nbsp
        <%= link_to "Dashboard", "/admins", method: "get" %>&nbsp&nbsp
        <%= link_to "Orders", "/order_items", method: "get" %>&nbsp&nbsp
        <%= link_to "Sign Out", destroy_sessions_path, method: "delete" %>
      </p>
    <% end %>
    <% if flash[:error] %>
      <p class="Flash-error">
        <%= flash[:error].html_safe %>
      </p>
    <% end %>
    <%= yield %>
  </body>
</html>
